/*body{ Color Palette
    color: #6b705c, #a5a58d, #b7b7a4;
    background-color: #ffe8d6, #ddbea9, #cb997e;
    f0efeb

}*/

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Custom Properties*/

:root {
    --ff-primary: 'Open Sans', sans-serif;
    --ff-secondary: 'League Spartan', sans-serif;
    --ff-terceary:'Lato', sans-serif;

    --fw-reg: 300;
    --fw-bold:900;

    --clr-dark: #303030;
    --clr-light: #ffe8d6;
    --clr-accent: #a5a58d;
    --clr-drkaccent: #6b705c;
    --clr-scndlight: #ddbea9;
    --clr-scnddark: #cb997e;

    --fs-h1: 3rem;
    --fs-h2:2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15); /*box shadowing for profile pic*/

    /* CARDS */

    --background-dark: var(--clr-dark);
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

@media (min-width: 800px) {
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */
.btn {
    display: inline-block;
    height: 60px;
    width: 180px;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    border-style: none;
}

.first-look{
    text-align: center;


}

.btn:hover {
    color: #6b705c;
    background-color: #303030;
}

/* Typography */

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: .25em;
    text-align: left;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro, .section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/******** PAGE START *************/
.first-look {
    width: 100%;
    height: 100vh;
}

.i-intro {
    display: flex;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color: var(--clr-accent);
}

.logo a:hover {
    color: var(--clr-drkaccent);
}

/* Header / NAV */
/*
#loader {
    background: var(--clr-drkaccent);
    height: 100vh;
    width: 100%;
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    z-index: 2;
}

.notLoaded {
    height: 100vh;
    overflow: hidden;
    position: fixed;
    margin: 0px;
}

#loader {
    position: absolute;
    background: white;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
/*
.logo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -999;
}

.logo-intro {
    position: fixed;
    top: 33%;
    left: 48%;
    width: 60px;
    height: 60px;
    background-color: black;

    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

**here is the keyframe code for fadeout**

@keyframes fadeout {
    from {opacity: 1;}
    to{opacity: 0;}
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}
*/
/*
header {
    display: flex;
    justify-content: space-between;
}
*/


.nav {
    position: fixed;
    background: rgba(0,0,0,.15);
    color: var(--clr-light);
    width: 100%;
}

.nav .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10%;
    padding: 1em;
}

.nav .nav__styled {
    display: flex;
    justify-content: flex-end;
    width: 85%;
}

.nav__list {
    list-style: none;
    display: flex;
    height: 50%;
}

.nav__link {
    color: inherit;
    padding: .5em;
    font-size: var(--fs-h3);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__link:hover {
    color: var(--clr-accent);
}

/* Intro section */

.intro {
    position: relative;
}

.intro__img {   /*profile pic shadowing */
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro { /* adding green behind pic and full stack */
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 2em);
    }
}

/* Technical Skills */

.background__green {
    background-color: var(--clr-drkaccent);
    color: var(--clr-light);
    text-align: center;
}

.my-skills {
    max-width: 1000px;
    margin: 0 auto;

}

.section__title--mySkills {
    grid-area: title;

}

.section__subtitle--mySkills {
}

/* About ME */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about { /* Who I am green background for text */
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(100% + 3em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/**** My Work ****/
.background__dark {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}
.my-work {
    max-width: 1000px;
    margin: 0 auto;

}

.section__title--mywork {
    grid-area: title;

}

.section__subtitle--mywork {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(100% + 3em);
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

body{
    height: 100%;
}

.hero-section{
    align-items: flex-start;
    background-color: var(--clr-dark);
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

@media(min-width: 540px){
    .card-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 960px){
    .card-grid{
        grid-template-columns: repeat(4, 1fr);
    }
}

.card{
    list-style: none;
    position: relative;
    border-style: none;
}

.card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
    background-color: var(--clr-dark);

}

.card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
            filter 200ms linear,
            transform 200ms linear;
}

.card:hover .card__background{
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card__category{
    /*color: var(--text-light);*/
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card__heading{
    color: var(--clr-light);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}

/**** Contact Info ****/

.section__title--contact {
    display: flex;
    justify-content: center;
}

.contact__body {
    text-align: center;
}

/**** Change Image to Text on Hover ****/
.project-holder {
    position: relative;
    width: 100%;
    height: 800px;
}

.project-holder .image, .project-holder .text {
    transition: opacity 0.5s ease-in-out;
}

.project-holder .text {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.project-holder:hover .image {
    opacity: 0;
}

.project-holder:hover .text {
    opacity: 1;
}

/**** Footer ****/

footer {
    width: 100%;
}
footer ul{
    position: fixed;
    bottom: 0;
}
footer .footer__link {
    bottom: 130px;
}

.footer {
    position: fixed;
    background: #ddbea9;
    color: var(--clr-accent);
    text-align: left;
    /*padding: 2.5em 0;*/
    font-size: var(--fs-h2);
}

.footer a {
    color: #ddbea9;
}

.footer__link {
    position: fixed;
    right: -110px;
    margin-bottom: 30px;
    rotate: 90deg;

    font-size: 1.1em;
    font-weight: var(--fw-bold);
    color: #cb997e;
    text-decoration: none;
}

.footer__link:hover, .social-list__link:hover {
    color: #a5a58d;
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    position: fixed;
    left: 10px;

}

.social-list__item {
    margin: 1em 0;
}

.social-list__link {
    color: var(--clr-scnddark);
}

.typed-cursor--blink {
    display: none;
}

.social-list__line {
    border-left: 2px solid var(--clr-scnddark);
    height: 150px;
    margin-left: 6px;
    margin-bottom: -15px;
}

