/*body{ Color Palette
    color: #6b705c, #a5a58d, #b7b7a4;
    background-color: #ffe8d6, #ddbea9, #cb997e;

}*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Custom Properties*/

:root {
    --ff-primary: 'Open Sans', sans-serif;
    --ff-secondary: 'League Spartan', sans-serif;
    --ff-terceary:'Lato', sans-serif;

    --fw-reg: 300;
    --fw-bold:900;

    --clr-dark: #303030;
    --clr-light: #ffe8d6;
    --clr-accent: #a5a58d;
    --clr-drkaccent: #6b705c;
    --clr-scndlight: #ddbea9;
    --clr-scnddark: #cb997e;

    --fs-h1: 3rem;
    --fs-h2:2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15); /*box shadowing for profile pic*/
}

@media (min-width: 800px) {
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn-hover {
    transform: scale(1.1);
}

/* Typography */

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro, .section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/******** PAGE START *************/

.i-intro {
    display: flex;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color: var(--clr-accent);
}

.logo a:hover {
    color: var(--clr-drkaccent);
}

/* Header / NAV */

header {
    display: flex;
    justify-content: space-between;
}

.nav {
    position: fixed;
    background: rgba(0,0,0,.15);
    color: var(--clr-light);
    width: 100%;
}

.nav .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10%;
    padding: 1em;
}

.nav .nav__styled {
    display: flex;
    justify-content: flex-end;
    width: 85%;
}

.nav__list {
    list-style: none;
    display: flex;
    height: 50%;
}

.nav__link {
    color: inherit;
    padding: .5em;
    font-size: var(--fs-h3);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__link:hover {
    color: var(--clr-accent);
}

/* Intro section */

.intro {
    position: relative;
}

.intro__img {   /*profile pic shadowing */
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro { /* adding green behind pic and full stack */
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 2em);
    }
}

/* About ME */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about { /* Who I am green background for text */
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(100% + 3em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/**** My Work ****/

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

/**** Change Image to Text on Hover ****/
.project-holder {
    position: relative;
}

.project-holder .image, .project-holder .text {
    transition: opacity 0.5s ease-in-out;
}

.project-holder .text {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.project-holder:hover .image {
    opacity: 0;
}

.project-holder:hover .text {
    opacity: 1;
}

/**** Footer ****/

footer {
    position: fixed;
    bottom: 0;

}

.footer {
    position: fixed;
    background: #ddbea9;
    color: var(--clr-accent);
    text-align: left;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: #ddbea9;
}

.footer__link {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    color: #cb997e;
    text-decoration: none;
}

.footer__link:hover, .social-list__link:hover {
    color: #a5a58d;
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
}

.social-list__item {
    margin: 1em 0;
}

.social-list__link {
    color: var(--clr-scnddark);
}

.typed-cursor--blink {
    display: none;
}

